@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,500,700');


.homeatividadecompletaexpandida {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1366px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(243, 243, 243, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.homeatividadecompletaexpandida .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 923px;
  height              : 698px;
  width               : 1026px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .rectangle21 {
  background-color    : rgba(229, 229, 229, 1.0);
  top                 : 0px;
  height              : 698px;
  width               : 1026px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group8copy41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group8copy41 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group8copy51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 421px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group8copy51 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group8copy61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 607px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group8copy61 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group11copy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 233px;
  height              : 14px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group11copy1 .nounhelp1926324 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .group11copy1 .nounhelp1926324 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group10 .medi347365esdehoraem3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(84, 84, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .group10 .medi347365esdehoraem1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(84, 84, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .group10 .medi347365esdehoraem2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 204px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(84, 84, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .group10 .tarefasfuturas {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(84, 84, 84, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1241px;
  height              : 128px;
  width               : 1032px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1298px;
  height              : 23px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group2 .livrodeinstru347365es {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(27, 49, 134, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.homeatividadecompletaexpandida .group2 .nounbook1909323 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group2 .nounbook1909323 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 25px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1295px;
  height              : 22px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group4 .pedirajuda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(27, 49, 134, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.homeatividadecompletaexpandida .group4 .nounchat1922841 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group4 .nounchat1922841 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group4 .nounchat1922841 .group .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group4 .nounchat1922841 .group .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 18px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1297px;
  height              : 24px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group3 .meusturnos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(27, 49, 134, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.homeatividadecompletaexpandida .group3 .nounclock1920652 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group3 .nounclock1920652 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group3 .nounclock1920652 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 9px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1278px;
  height              : 58px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group5 .rectangle {
  background-color    : rgba(211, 30, 33, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group5 .encerrarturno {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.homeatividadecompletaexpandida .a1402 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.homeatividadecompletaexpandida .medi347365esdehoraem {
  background-color    : rgba(255,255,255,0.0);
  top                 : 308px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 485px;
  height              : 374px;
  width               : 924px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 374px;
  width               : 924px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 374px;
  width               : 924px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(85, 163, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .reatorcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 67px;
  height              : 2px;
  width               : 926px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 192px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .ph {
  background-color    : rgba(255,255,255,0.0);
  top                 : 248px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 317px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .vaz343o {
  background-color    : rgba(255,255,255,0.0);
  top                 : 248px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .a120cm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .a75 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 316px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .muitoturva {
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 527px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .a751 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 823px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .preenchaoscamposa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 108px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 218px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .turbidez {
  background-color    : rgba(255,255,255,0.0);
  top                 : 248px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 542px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .oxigena347343o {
  background-color    : rgba(255,255,255,0.0);
  top                 : 248px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 192px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 325px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 566px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .a3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 192px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 580px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 813px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .a4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 192px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 827px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(85, 163, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .rectangle2 .group101 .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 3px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .line3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 3px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .line3copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 3px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 637px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .rectangle2 .group101 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 7px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 884px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 362px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy2 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 864px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy3 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .baselineexpandmore24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 394px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 926px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 948px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy4 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 948px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy5 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 948px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 606px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy6 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 948px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 884px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group8copy7 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group11copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1102px;
  height              : 14px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 440px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group11copy .nounhelp1926324 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group11copy .nounhelp1926324 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 369px;
  height              : 81px;
  width               : 932px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group12 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 81px;
  width               : 932px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group12 .funil {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.homeatividadecompletaexpandida .group12 .group16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 884px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group12 .group16 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 7px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group12 .group16 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 168px;
  width               : 1041px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 .rectangle6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 168px;
  width               : 1041px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 .bitmapcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : 41px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 888px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 .group81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 74px;
  width               : 516px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 .group81 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 72px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 .group81 .group7 .ter347afeira04des {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.homeatividadecompletaexpandida .group13 .group81 .group7 .tratamentosecund341ri {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.homeatividadecompletaexpandida .group13 .group81 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 .group81 .group6 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homeatividadecompletaexpandida .group13 .group81 .group6 .jo343o {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.homeatividadecompletaexpandida .group13 .group81 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 74px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}