@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,500,700');


.login2loading {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1366px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(243, 243, 243, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.login2loading .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 415px;
  height              : 454px;
  width               : 352px;
  position            : absolute;
  margin              : 0;
  left                : 336px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login2loading .group .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 352px;
  width               : 352px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login2loading .group .ol341jo343o {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.login2loading .asinforma347365esdose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1063px;
  height              : auto;
  width               : 646px;
  position            : absolute;
  margin              : 0;
  left                : 189px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.login2loading .bitmapcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 63px;
  width               : 132px;
  position            : absolute;
  margin              : 0;
  left                : 446px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}