@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,500,700');


.logout {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1366px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.logout .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 379px;
  height              : 44px;
  width               : 714px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group .porfavorassineod {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 714px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 44.0px;
}
.logout .groupcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 583px;
  height              : 29px;
  width               : 714px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .groupcopy2 .suasrealiza307325esdo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 714px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.logout .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 335px;
  height              : 44px;
  width               : 714px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .groupcopy .seuturnofoiencerr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 714px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 44.0px;
}
.logout .bitmapcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 63px;
  width               : 132px;
  position            : absolute;
  margin              : 0;
  left                : 446px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1241px;
  height              : 128px;
  width               : 1032px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group2 .rectangle4copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 128px;
  width               : 1032px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group2 .sair {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.logout .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 683px;
  height              : 375px;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group5 .iconaguacopia {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 140px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group5 .voc352foirespons341vel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 207px;
  height              : auto;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.logout .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 683px;
  height              : 303px;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group3 .iconphcopia {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 141px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group3 .esse351oxdiaseguicopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 207px;
  height              : auto;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.logout .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 684px;
  height              : 278px;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 677px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group4 .ativo3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 140px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.logout .group4 .seuesfor347oest341sen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}